
#brand {
  font-size: 1.5rem;
  font-weight: bolder;
}

.container {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.plans {
  margin-top: 100px;
  min-width: 100%;
  flex-wrap: wrap;
  border: solid red;
}

 .pricing-table {
  margin-top: 5rem;
  min-height: 100dvh;
} 

/* ------------Package boxes ----------------*/
.package {
  box-shadow: 0 10px 25px 0 rgb(0 0 0 / 15%), 0 3px 7px 0 rgb(0 0 0 / 15%);
  width: 280px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;

}

h2 {
  text-align: center;
}

.package .pricing {
  font-size: larger;
  font-weight: bold;
  font-style: italic;
}

.package:hover {
  -webkit-transform: scale(0.5);
   transform: scale(1.05); 
}

/*----------------- Footer---------------------- */
footer p {
  padding: 30px;
  font-size: larger;
  height: 100px;
}
.plans-footer {
  position: fixed;
  bottom: 0;
}

.plans-container {
  display: flex;
  justify-content: space-between;
}

.buttons-container {
  justify-content: space-evenly;
}

/* Media Screen */
@media screen and (max-width:768px) {

  .plans-title {
    font-size: 2rem;
  }
  .container {
    display: block;
  }

  .package {
    margin-top: 10px;
    width: 100%;
    height: 200px;
  }

  .pricing-table {
    height: 90vh;
  }

}
