*{
    margin: 0;
}

.empty-space {
    height: 85px;
}

/* ------------------Comments and Contact section*/

.contact-form {
    max-width: 100%;
    max-height: 50vh;
    display: flex;
    justify-content: space-evenly;
}

#contact-form, .comments {
    box-shadow: 0 10px 25px 0 rgb(0 0 0 / 15%), 0 3px 7px 0 rgb(0 0 0 / 15%);
    display: flex;
    flex-direction: column;
    padding-top: 20%;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    background-color: white;
    margin-top: 40px;
}

.comments textarea {
    width: 100%;
}

.comment-container {
    display: flex;
    display: none;
    min-height: 200px;
    min-width: 400px;
    max-width: 600px;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
    background: #f9f6f6;
}

.comment-container div {
    box-shadow: 0 10px 25px 0 rgb(0 0 0 / 15%), 0 3px 7px 0 rgb(0 0 0 / 15%);
    padding: 20px;
}

.comment-container h6 {
    text-align: right;
}


form input, form textarea {
    border: 0;
    margin: 10px;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
}

form button {
    border:0;
    padding: 15px;
    color:fff;
    font-size: 18px;
    outline: none;
    cursor: pointer;
}

.section3 {
    display: flex;
    flex-direction: column;
}

/* ----------------------------Like dislike section----------------- */

.experience {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 50vh;
}
.icons {
    width: 15vw;
    display: flex;
    justify-content: space-around;
}

.icons i {
    font-size: 70px;
    cursor: pointer;
}

.experience p {
    max-width: 30vw;
    font-style: italic;
    font-size: larger;
    font-weight: 600;
}


/* -----------------Save for later section--------------- */
.saved-items .not-saved, .saved-items-heading {
    color:white;
    text-align: center;
    padding: 20px;
}

.saved-items-heading {
    display: none;
}

.package {
    box-shadow: 0 10px 25px 0 rgb(0 0 0 / 15%), 0 3px 7px 0 rgb(0 0 0 / 15%);
    width: 280px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    padding: 5px;
  }


  .plans .container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }

  .section2-container {
    border-radius: 20px;
  }
  .remove:hover {
    cursor: pointer;
  }

/* -----------------------Articles items from save for later section */
  .articles-container {
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    border-radius: 20px;
  }

  .item {
    border-radius: 10px;
    background-color: whitesmoke;
    margin: 20px auto 0 auto;
    max-width: 300px;
    min-width: 300px;
    min-height: 300px;
  }

  .section2, .articles-container {
    max-width: 90vw;
    margin: auto;
  }

  footer {
    margin-top: 300px;
    width: 100%;
    color: white;
    text-align: center;
    clear: both;
  }
/* ------------------Media queries for screens smaller than 1000px------------------- */
  @media screen and (max-width:1000px) {
    .experience p {
        max-width: 60vw;
    }
}

/* ------------------Media queries for screens smaller than 800px------------------- */
@media screen and (max-width:800px) {
    .experience p {
        max-width: 90%;
    }

    .articles-container {
        flex-wrap: wrap;
    }

    .comments, #contact-form {
        width: 300px
    }
 
    .plans .container {
        flex-wrap: wrap;
    }

    .experience {

        flex-wrap: wrap;
    }

    .exp-head {
        margin-left: 20px;
    }

    .package {
        margin-top: 10px;
    }

}

/* ------------------Media queries for screens smaller than 400px------------------- */
@media screen and (max-width:600px) {
    .contact-form {
      display: flex;
      flex-wrap: wrap;
    }

    .comment-container {
        margin-top: 550px;
    }
    .experience h2 {
        font-size: 1.8rem;
      }

      .experience p {
        max-width: 95%;
    }
    
  }