body,
html {
  margin: none;
  padding: none;
  box-sizing: border-box;
}

#brand {
  font-size: 1.5rem;
  font-weight: bolder;
}

.container {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.plans {
  margin-top: 100px;
  min-width: 100%;
  flex-wrap: wrap;
}

.pricing-table {
  margin-top: 70px;
}

/* ------------Package boxes ----------------*/
.package {
  box-shadow: 0 10px 25px 0 rgb(0 0 0 / 15%), 0 3px 7px 0 rgb(0 0 0 / 15%);
  width: 280px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
  margin: 0 10px 0 10px;
}

h2 {
  text-align: center;
}

.package .pricing {
  font-size: larger;
  font-weight: bold;
  font-style: italic;
  margin-top: 10px;
}

.package:hover {
  -webkit-transform: scale(0.5);
  transform: scale(1.05);
}

/*----------------- Footer---------------------- */
footer {
  padding: 30px;
  font-size: larger;
  height: 100px;
}


.plans-container {
  display: flex;
  justify-content: space-evenly;
  min-height: calc(100vh - 100px);
}

.buttons-container {
  justify-content: space-evenly;
}

/* Media Screen */
@media screen and (max-width:768px) {

  .plans-title {
    font-size: 2rem;
  }

  .container {
    display: block;
  }

  .package {
    width: 80%;
    height: 200px;
    margin: auto;
    margin-top: 20px;
  }

  .plans-footer {
    margin-bottom: none !important;
  }
}
